.tagg-main {
    margin: 100px 60px 0px 60px;
}

.tagg-resultt {
    display: flex;
    
}

.tagg-res-left {
    flex: 6;
    
    padding: 0px 20px ;
}

.tagg-res-left > h4 {
    font-family: 'Times New Roman', serif;
    font-weight: bolder;
    margin: 10px 0px 0px 0px;
    font-size: 40px;
}
.tagg-res-righ {
    flex: 4;
}

.tagg-res-righ {
    flex: 4;
    padding-top: 50px;
    margin-top: 20px;
}
.tagg-iconn-one {
    font-size: 30px;
}
/* @media screen and (max-width: 800px) {

    .tagg-resultt {
        flex-direction: column;
    }

} */

@media screen and (max-width: 900px) {

    .tagg-main {
        margin-top: 70px;
        margin-right: 10px;
        margin-left: 10px;        
    }

    .tagg-resultt {
        flex-direction: column;
    }
}


