<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
  
<appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

<connectionStrings>
    <add name="Audit" connectionString="Data Source=TRIOS-PC\SQLEXPRESS;Initial Catalog=AuditData;Integrated Security=True" />
    <add name="AuditDataConnectionString" connectionString="Data Source=TRIOS-PC\SQLEXPRESS;Initial Catalog=AuditData;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>

</configuration>
